#myController span{
color:#02506a;
background:#e0f5fc;
padding:4px;
margin-right:2px;
cursor:pointer;
}

#jFlowSlide{
border:0px solid #F00;
}

#myController span.jFlowSelected {

background:#02506a;
color:#e0f5fc;
}

.jFlowPrev, .jFlowNext{
cursor:pointer;
}

#mySlides {
	text-align:justify;
	color:#02506a;
	
}

#myController {
	padding-top:10px;
	text-align:left;
}
.slide_text {
	margin:10px;	
	margin-top:22px;
	line-height:17px;
}